.status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
}

.status-green {
    background-color: rgb(44, 167, 44);
}

.status-yellow {
    background-color: rgb(247, 247, 80);
}

.status-red {
    background-color: rgb(253, 57, 57);
}

.status-blue {
    background-color: rgb(47, 85, 255);
}